/* simplified from https://github.com/hyrious/marked-cli/blob/main/src/style.css */
@import '@hyrious/github-markdown-css';
@import 'https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css';

.mermaid {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .markdown-body {
    --pre-bg: #2a2a2a;
  }
}

@media (prefers-color-scheme: light) {
  .markdown-body {
    --pre-bg: #efefef;
  }
}

.markdown-body {
  --bgColor-muted: var(--bg-panel);
  --bgColor-default: var(--bg);
  --borderColor-default: var(--pre-bg);
}

.markdown-body code,
.markdown-body tt {
  white-space: pre;
}

.mr-2 {
  margin-right: 8px !important;
}

.markdown-body img {
  background-color: var(--bg);
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: var(--pre-bg);
}
