@import 'sanitize.css';

html {
  --bg: #fff;
  --fg: #555;
  --fg2: #000;
  --pre: #8882;
  --border: #8888;
  --sans: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --mono: Noto Sans Mono, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: #191919;
    --fg2: #ddd;
    --fg: #aaa;
  }
}

body {
  font: 16px/20px var(--sans);
  color: var(--fg);
  background: var(--bg);
}

html, body, #app {
  height: 100%;
}

code, kbd, samp, pre {
  font: 13px/18px var(--mono)
}

a {
  color: inherit;
}

i {
  display: inline-block;
  pointer-events: none;
}
