@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "./hljs.css";
@import "./markdown.css";

:root {
  color-scheme: light dark;

  --bg: #fff;
  --bg-on: #ddd;
  --bg-on-transparent: #dddddd33;
  --bg-panel: #e3e3e3;
  --bg-panel-on: #eee;
  --fg: #222;
  --fg-on: #000;
  --pre: #222;
  --pre-dim: #777;
  --pre-val: #870;
  --border: #ddd;
  --shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  --highlight: #3ca877;

  --mono: Noto Sans Mono, monospace;
  --sans: Noto Sans, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1a1a1a;
    --bg-on: #333;
    --bg-on-transparent: #33333333;
    --bg-panel: #232323;
    --bg-panel-on: #444;
    --fg: #aaa;
    --fg-on: #ddd;
    --pre: #ccc;
    --pre-dim: #999;
    --pre-val: #cb8;
    --border: #383838;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    --highlight: #22863a;
  }
}

html,
body,
#app {
  height: 100%;
}

body,
option {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--sans);
  line-height: 1.25;
}

#app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

@media (max-width: 720px) {
  #app {
    overflow: auto;
  }
}

.i-mdi-loading {
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
